@mixin mq-large {
  @media (min-width: 600px) {
    @content;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, #root, .wrapper {
  height: 100%;
}

body {
  margin: 0;
  font-size: 62.5%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 300px;
}

.app-container {
  flex: 1 0 0;
  overflow: hidden;
}



.pane {
  width: 100%;   
}

header.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  border-bottom: 5px solid rgba(200, 200, 200, 1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  font-size: 1.6rem;
  flex-shrink: 0;
  background: rgba(32, 140, 255, 1);
  color: rgba(240, 240, 240, 1);
  @include mq-large {
    padding-left: 2rem;
    text-align: left;

  }
}

@mixin pane-large {
  display: inline-block;
  height: 100%;
  width: 50%;
}

.editor-wrapper {
  position: relative;
  height: 40%;
  z-index: 100;
  min-height: 200px;
  @include mq-large {
    @include pane-large;
  }

}

.preview-wrapper {
  position: relative;
  height: 60%;
  z-index: 50;
  @include mq-large {
    @include pane-large;
  }
}


#editor  {
  border: none;
  resize: none;
  outline: none;
  border-bottom: 5px solid rgba(200, 200, 200, 1);
  height: 100%;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  @include mq-large {
    border: {
      right: 5px solid rgba(200, 200, 200, 1);
      bottom: none;
    }
    font-size: 1.4rem;
  }
}

#preview {
  padding: 15px;
  height: 100%;
  overflow-y: auto;
  overflow-wrap: break-word;
  max-height: 100%;
  font-size: 1.2rem;
  @include mq-large {
    font-size: 1.4rem;
  }
}

